
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the app component</h3>
            <hr>
            <!-- default element-style selector for the html template: -->
            <app-servers></app-servers>
            <!-- due to the attribute notation in the module.ts file, we can use the html template reference as an html attribute  -->
            <!-- <div app-servers></div> -->

            <!-- if we use the .class selector for the html template in the module.ts file, we can use the template as a css class reference -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <user-input></user-input>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <assignment3></assignment3>
        </div>
    </div>
</div>
